<web-app>

<servlet>
<servlet-name>newDet</servlet-name>
<servlet-class>newDet</servlet-class>
</servlet>
<servlet>
<servlet-name>Ulogin</servlet-name>
<servlet-class>Ulogin</servlet-class>
</servlet>
<servlet>
<servlet-name>Alogin</servlet-name>
<servlet-class>Alogin</servlet-class>
</servlet>
<servlet>
<servlet-name>add</servlet-name>
<servlet-class>add</servlet-class>
</servlet>
<servlet>
<servlet-name>view</servlet-name>
<servlet-class>view</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>view</servlet-name>
<url-pattern>/view</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>book</servlet-name>
<servlet-class>book</servlet-class>
</servlet>
<servlet>
<servlet-name>searchplaces</servlet-name>
<servlet-class>searchplaces</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>searchplaces</servlet-name>
<url-pattern>/searchplaces</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>book</servlet-name>
<url-pattern>/book</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>add</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>newDet</servlet-name>
<url-pattern>/newDet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Ulogin</servlet-name>
<url-pattern>/Ulogin</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Alogin</servlet-name>
<url-pattern>/Alogin</url-pattern>
</servlet-mapping>

    <welcome-file>index.jsp</welcome-file>
</web-app>